body {background-color: darkolivegreen;}

#cancha { 
    margin: auto;
    width: 95%;
    height: 95%;
    border: 3px solid #ffffff;
    position: absolute;
    
  
}

#area1 {

    width: 15%;
    height: 50%;
    float: left;
    top: 25%;
    position: relative;
    border: 3px solid #ffffff;
}


#centro {

    width: 25%;
    height: 50%;
    float: left;
    top: 25%;
    position: relative;
    border: 3px solid #ffffff;
    border-radius: 500px;
}

#area2 {

    width: 15%;
    height: 50%;
    float: right;
    top: 25%;
    position: relative;
    border: 3px solid #ffffff;
}