body {background-color: darkolivegreen;}

#cancha { 
    margin: 0 0.5% 0 0.5%;
    width: 98%;
    height: 98%;
    border: 5px solid #ffffff;
    position: absolute;
    
  
}

#area1 {

    width: 15%;
    height: 50%;
    float: left;
    top: 25%;
    position: relative;
    border: 5px solid #ffffff;
    margin-left: -5px;
}


#centro {

    width: 25%;
    height: 50%;
    float: left;
    top: 25%;
    left: 20%;
    position: relative;
    border: 5px solid #ffffff;
    border-radius: 500px;
}

#area2 {

    width: 15%;
    height: 50%;
    float: right;
    top: 25%;
    position: relative;
    border: 5px solid #ffffff;
    margin-right: -5px;
}